<div class="col-sm-8 col-md-7 py-4">
  <h4 class="text-white">СберМаркет</h4>
  <p class="text-muted">СберМаркет — это доставка из магазинов №1 в России!*
    Мы доставляем продукты и товары более чем в 160 городах России — от Калининграда до Петропавловска-Камчатского. Ассортимент в СберМаркете такой же, как в магазинах, но вам не придётся стоять в очереди и носить тяжёлые сумки. Мы бережно собираем и быстро доставляем продукты, лекарства и другие товары из ваших любимых магазинов прямо до двери.</p>
</div>
<div class="col-sm-4 offset-md-1 py-4">
  <h4 class="text-white">Меню</h4>
  <ul class="list-unstyled">
    <li><a href="{% url 'catalog:home' %}" class="text-white">Главная страница</a></li>
    <li><a href="{% url 'catalog:contacts'%}" class="text-white">Обратная связь</a></li>
    <li><a href="{% url 'catalog:post_list'%}" class="text-white">Список постов</a></li>
  </ul>
</div>