{% extends 'catalog/base.html' %}

{% block contacts %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">
                Офис в Орле<br>
            </p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <h2>Обратная связь</h2>
            <form method="post">
                {% csrf_token %}
                <input class="form-control mb-2" name="name">
                <input class="form-control mb-2" name="email">
                <textarea class="form-control mb-2" name="message"></textarea>
                <button type="submit" class=" mb-2 btn btn-primary form-control">Отправить</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}


