{% extends 'catalog/base.html' %}


{% block contacts %}
<div class="col-12">
    <div class="container">
        <h1 class="mb-4">Удаление товара {{ object.title }}</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <h4 class="mb-4">Вы уверены, что хотите удалить товар удаление {{ object.title }}?</h4>
            </table>
            <input class="btn btn-danger" type="submit" value="Удалить">
            <a class="btn btn-primary" href="{% url 'catalog:home' %}">Назад</a>

        </form>
    </div>
</div>
{% endblock %}